# Created by .ignore support plugin (hsz.mobi)

.idea
*.iml

gen
##ignore this file##
out/
target/

.classpath
.project
.settings
##filter databfile、sln file##
*.mdb
*.ldb
*.sln
*.lst
##class file##
*.com
*.class
*.dll
*.exe
*.o
*.so
# compression file
*.7z
*.dmg
*.gz
*.iso
*.jar
*.war
*.rar
*.tar
*.zip
*.via
*.tmp
*.err
pinyougou-common/target/generated-sources/
pinyougou-common/target/generated-test-sources/
pinyougou-dao/target/generated-sources/
pinyougou-manager-web/target/generated-sources/
pinyougou-manager-web/target/pinyougou-manager-web/META-INF/
pinyougou-manager-web/target/pinyougou-manager-web/admin/
pinyougou-manager-web/target/pinyougou-manager-web/css/
pinyougou-manager-web/target/pinyougou-manager-web/img/
pinyougou-manager-web/target/pinyougou-manager-web/js/
pinyougou-manager-web/target/pinyougou-manager-web/login.html
pinyougou-manager-web/target/pinyougou-manager-web/plugins/
pinyougou-pojo/target/generated-sources/
pinyougou-pojo/target/generated-test-sources/
pinyougou-sellergoods-interface/target/generated-sources/
pinyougou-sellergoods-interface/target/generated-test-sources
pinyougou-sellergoods-service/target/generated-sources/
pinyougou-sellergoods-service/target/pinyougou-sellergoods-service/META-INF/
pinyougou-shop-web/target/pinyougou-shop-web/META-INF/
pinyougou-shop-web/target/pinyougou-shop-web/WEB-INF/classes/
