<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">

    <servlet>
        <servlet-name>ServletLearn1</servlet-name>
        <servlet-class>day09.ServerletLearn.ServletLearn1</servlet-class>
        <init-param>
            <param-name>p1</param-name>
            <param-value>v1</param-value>
        </init-param>
        <init-param>
            <param-name>p2</param-name>
            <param-value>v2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLearn1</servlet-name>
        <url-pattern>/ServletLearn1</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HttpServletLearn1</servlet-name>
        <servlet-class>day09.ServerletLearn.HttpServletLearn1</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletLearn1</servlet-name>
        <url-pattern>/HttpServletLearn1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HttpServletLearn3</servlet-name>
        <servlet-class>day09.ServerletLearn.HttpServletLearn3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletLearn3</servlet-name>
        <url-pattern>/HttpServletLearn3</url-pattern>
        <url-pattern>/HttpServletLearn4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetServletContext</servlet-name>
        <servlet-class>day09.ServerletLearn.GetServletContext</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetServletContext</servlet-name>
        <url-pattern>/GetServletContext</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetServletContext</servlet-name>
        <servlet-class>day09.ServerletLearn.SetServletContext</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetServletContext</servlet-name>
        <url-pattern>/SetServletContext</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getContextParam</servlet-name>
        <servlet-class>day09.ServerletLearn.getContextParam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getContextParam</servlet-name>
        <url-pattern>/getContextParam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetResourcePath</servlet-name>
        <servlet-class>day09.ServerletLearn.GetResourcePath</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetResourcePath</servlet-name>
        <url-pattern>/GetResourcePath</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CountVisit</servlet-name>
        <servlet-class>day09.ServerletLearn.CountVisit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountVisit</servlet-name>
        <url-pattern>/CountVisit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetResourcesUnderClassPath</servlet-name>
        <servlet-class>day09.ServerletLearn.GetResourcesUnderClassPath</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetResourcesUnderClassPath</servlet-name>
        <url-pattern>/GetResourcesUnderClassPath</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>context_param</param-name>
        <param-value>context_value</param-value>
    </context-param>



</web-app>
