<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">

    <error-page>
        <error-code>404</error-code>
        <location>/day12/error/b.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>ServletLearn1</servlet-name>
        <servlet-class>day09.ServerletLearn.ServletLearn1</servlet-class>
        <init-param>
            <param-name>p1</param-name>
            <param-value>v1</param-value>
        </init-param>
        <init-param>
            <param-name>p2</param-name>
            <param-value>v2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLearn1</servlet-name>
        <url-pattern>/ServletLearn1</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HttpServletLearn1</servlet-name>
        <servlet-class>day09.ServerletLearn.HttpServletLearn1</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletLearn1</servlet-name>
        <url-pattern>/HttpServletLearn1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HttpServletLearn3</servlet-name>
        <servlet-class>day09.ServerletLearn.HttpServletLearn3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletLearn3</servlet-name>
        <url-pattern>/HttpServletLearn3</url-pattern>
        <url-pattern>/HttpServletLearn4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetServletContext</servlet-name>
        <servlet-class>day09.ServerletLearn.GetServletContext</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetServletContext</servlet-name>
        <url-pattern>/GetServletContext</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetServletContext</servlet-name>
        <servlet-class>day09.ServerletLearn.SetServletContext</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetServletContext</servlet-name>
        <url-pattern>/SetServletContext</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getContextParam</servlet-name>
        <servlet-class>day09.ServerletLearn.getContextParam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getContextParam</servlet-name>
        <url-pattern>/getContextParam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetResourcePath</servlet-name>
        <servlet-class>day09.ServerletLearn.GetResourcePath</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetResourcePath</servlet-name>
        <url-pattern>/GetResourcePath</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CountVisit</servlet-name>
        <servlet-class>day09.ServerletLearn.CountVisit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountVisit</servlet-name>
        <url-pattern>/CountVisit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetResourcesUnderClassPath</servlet-name>
        <servlet-class>day09.ServerletLearn.GetResourcesUnderClassPath</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetResourcesUnderClassPath</servlet-name>
        <url-pattern>/GetResourcesUnderClassPath</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponseByteData</servlet-name>
        <servlet-class>day10.RequestServletLearn.ResponseByteData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseByteData</servlet-name>
        <url-pattern>/ResponseByteData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RedirectServletB</servlet-name>
        <servlet-class>day10.RequestServletLearn.RedirectServletB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServletB</servlet-name>
        <url-pattern>/RedirectServletB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestServletLearn</servlet-name>
        <servlet-class>day10.RequestServletLearn.RequestServletLearn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestServletLearn</servlet-name>
        <url-pattern>/RequestServletLearn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RefererLearn</servlet-name>
        <servlet-class>day10.RequestServletLearn.RefererLearn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefererLearn</servlet-name>
        <url-pattern>/RefererLearn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestParam</servlet-name>
        <servlet-class>day10.RequestServletLearn.RequestParam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestParam</servlet-name>
        <url-pattern>/RequestParam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransmitOne</servlet-name>
        <servlet-class>day10.RequestServletLearn.TransmitOne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransmitOne</servlet-name>
        <url-pattern>/TransmitOne</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransmiTwo</servlet-name>
        <servlet-class>day10.RequestServletLearn.TransmitTwo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransmiTwo</servlet-name>
        <url-pattern>/TransmiTwo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransmiThree</servlet-name>
        <servlet-class>day10.RequestServletLearn.TransmitThree</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransmiThree</servlet-name>
        <url-pattern>/TransmiThree</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ResponseEncoding</servlet-name>
        <servlet-class>day10.RequestServletLearn.ResponseEncoding</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseEncoding</servlet-name>
        <url-pattern>/ResponseEncoding</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SumServlet</servlet-name>
        <servlet-class>day11.AllServlet.SumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SumServlet</servlet-name>
        <url-pattern>/SumServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>day11.Login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>day13.MVCLearn.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet14</servlet-name>
        <servlet-class>day14.cn.itcast.user.web.servlet.LoginServlet14</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet14</servlet-name>
        <url-pattern>/LoginServlet14</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet14</servlet-name>
        <servlet-class>day14.cn.itcast.user.web.servlet.RegisterServlet14</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet14</servlet-name>
        <url-pattern>/RegisterServlet14</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet17</servlet-name>
        <servlet-class>day17.cn.itcast.usermng.web.servlet.LoginServlet17</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet17</servlet-name>
        <url-pattern>/LoginServlet17</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet17</servlet-name>
        <servlet-class>day17.cn.itcast.usermng.web.servlet.RegisterServlet17</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet17</servlet-name>
        <url-pattern>/RegisterServlet17</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JNDILearnServlet</servlet-name>
        <servlet-class>day18.JNDILearn.JNDILearnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JNDILearnServlet</servlet-name>
        <url-pattern>/JNDILearnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Day19BServlet</servlet-name>
        <servlet-class>day19.BaseServletLearn.Day19BServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Day19BServlet</servlet-name>
        <url-pattern>/Day19BServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Day19Aservlet</servlet-name>
        <servlet-class>day19.BaseServletLearn.Day19Aservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Day19Aservlet</servlet-name>
        <url-pattern>/Day19Aservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Day19BaseServlet</servlet-name>
        <servlet-class>day19.BaseServletLearn.Day19BaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Day19BaseServlet</servlet-name>
        <url-pattern>/Day19BaseServlet/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Day19Test</servlet-name>
        <servlet-class>day19.BaseServletLearn.Day19Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Day19Test</servlet-name>
        <url-pattern>/Day19Test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Day21ServletA1</servlet-name>
        <servlet-class>day21.FilterLearn.Day21ServletA1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Day21ServletA1</servlet-name>
        <url-pattern>/Day21ServletA1</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
    
    <filter>
        <filter-name>Day21FilterA1</filter-name>
        <filter-class>day21.FilterLearn.Day21FilterA1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Day21FilterA1</filter-name>
        <url-pattern>/Day21ServletA1</url-pattern>
    </filter-mapping>

    
    <listener>
        <listener-class>day20.ListenerLearn.Day20Listener1</listener-class>
    </listener>
    <listener>
        <listener-class>day20.ListenerLearn.Day20ContextAttributeListener1</listener-class>
    </listener>
    <context-param>
        <param-name>xxx</param-name>
        <param-value>Eljsp</param-value>
    </context-param>
    <context-param>
        <param-name>context_param</param-name>
        <param-value>context_value</param-value>
    </context-param>

</web-app>
